baseURL = 'https://rockstor.com/'
languageCode = 'en-us'
title = 'Rockstor | Linux & BTRFS powered Opensource NAS solution'

# Min Hugo version (normally in theme.toml)
# https://gohugo.io/getting-started/configuration/#cascade
# allows PageRef instead of url in menu items.
# https://gohugo.io/variables/menus/#menu-entry-variables
# Localized Time and Dates and Numbers
# https://gohugo.io/news/0.87.0-relnotes/
min_version = "0.87.0"
enableInlineShortcodes = true

# We are creating like-for-like from prior Hyde created site so maintain:
# https://gohugo.io/content-management/urls/#ugly-urls
uglyurls = true

# Althought we arrange our content hierarchically internally, we are
# historically flat in our presentation. I.e. all pages in baseURL.
[permalinks]
  solutions = '/:filename'

# I.e. about-us.md or about-us.fr.md
defaultContentLanguage = 'en'

# navigation
[[menu.main]]
name = "Solutions"
url = ""
weight = 1
hasChildren = true

  [[menu.main]]
  parent = "Solutions"
  name = "Personal Cloud server"
  PageRef = "personal-cloud-btrfs-nas-server.md"
  weight = 1

  [[menu.main]]
  parent = "Solutions"
  name = "SMB Cloud server"
  PageRef = "smb-private-cloud-btrfs-nas-server.md"
  weight = 2

  [[menu.main]]
  parent = "Solutions"
  name = "Traditional NAS server"
  PageRef = "linux-btrfs-nas-server.md"
  weight = 3

  [[menu.main]]
  parent = "Solutions"
  name = "Custom solutions"
  PageRef = "customizable-btrfs-nas-storage-platform.md"
  weight = 4

[[menu.main]]
name = "Resources"
url = ""
weight = 2
hasChildren = true

  [[menu.main]]
  parent = "Resources"
  name = "Documentation"
  url = "/docs/"
  weight = 1

  [[menu.main]]
  parent = "Resources"
  name = "FAQ"
  url = "/docs/faq.html"
  weight = 2

  [[menu.main]]
  parent = "Resources"
  name = "Quick Start"
  url = "/docs/quickstart.html"
  weight = 3

  [[menu.main]]
  parent = "Resources"
  name = "Features List"
  PageRef = "features.md"
  weight = 4

  [[menu.main]]
  parent = "Resources"
  name = "EULA"
  PageRef = "eula.md"
  weight = 5

  [[menu.main]]
  parent = "Resources"
  name = "Paid Support"
  PageRef = "paid_support.md"
  weight = 6

[[menu.main]]
name = "Community"
url = ""
weight = 3
hasChildren = true

  [[menu.main]]
  parent = "Community"
  name = "Forum"
  url = "https://forum.rockstor.com/"
  weight = 1

  [[menu.main]]
  parent = "Community"
  name = "Tech Wiki"
  url = "https://forum.rockstor.com/c/Wiki-style-collaborative-KB-posts"
  weight = 2

  [[menu.main]]
  parent = "Community"
  name = "Old Blog"
  PageRef = "blog.md"
  weight = 3

  [[menu.main]]
  parent = "Community"
  name = "Issue Tracker"
  url = "https://github.com/rockstor/rockstor-core/issues/"
  weight = 4

[[menu.main]]
name = "About Us"
pageRef = "about-us.md"
weight = 4

[[menu.main]]
name = "Downloads"
pageRef = "dls.md"
weight = 5

[[menu.main]]
name = "Open Collective"
url = "https://opencollective.com/the-rockstor-project"
weight = 6

# N.B. we have a Download button as our last header Menu item.
# See layouts/partials/header.html

[taxonomies]
  os = "os"

# default parameters
[params]
# Downloads
downloadsbaseurl = "downloads/installer/"
downloadsserver = "https://rockstor.com/"
logo = "images/rockstorlogo-font2.png"
author = "See: AUTHORS file."
# Website copyright notice (markdownify)
copyright = "Copyright &copy; 2025 The Rockstor Project"
# use lowercase version of frontmatter os
downloads_os_order = ["leap15.6", "tumbleweed", "diy", "rpm", "centos7.1511"]

# CSS Plugins
[[params.plugins.css]]
link = "css/bootstrap.min.css"
# we needs Font Awesome Solid + Brands only
[[params.plugins.css]]
link = "fontawesome/css/fontawesome.min.css"
[[params.plugins.css]]
link = "fontawesome/css/brands.min.css"
[[params.plugins.css]]
link = "fontawesome/css/solid.min.css"
[[params.plugins.css]]
link = "css/majorColorChange.css"
[[params.plugins.css]]
link = "css/responsive.css"


# JS Plugins
[[params.plugins.js]]
link = "js/jquery.js"
[[params.plugins.js]]
link = "js/bootstrap.min.js"


# text is markdown
# N.B. hard-coded email urls found in tables on paid_support page
[[params.email]]
icon = "fa-solid fa-envelope fa-xl"
link = "mailto:support@rockstor.com"
label = "Support Email"
text = "Email for support, questions, or advice."


# Social Media
# text is markdown
# Icons search links:
# Solid Free: https://fontawesome.com/search?o=r&m=free&s=solid
# Brands Free: https://fontawesome.com/search?o=r&m=free&f=brands
[[params.social]]
icon = "fa-brands fa-discourse fa-xl"
link = "https://forum.rockstor.com/"
label = "Forum"
text = "Announcements, community support, questions, etc... **Active developers are members**."
header = "true"
[[params.social]]
icon = "fa-brands fa-mastodon fa-xl"
link = "https://mastodon.world/@TheRockstorProject"
label = "@TheRockstorProject@mastodon.world"
text = "Announcements, update advisories, etc."
header = "true"
[[params.social]]
# icon = "fa-brands fa-square-github fa-xl"
icon = "fa-brands fa-github-alt fa-xl"
link = "https://github.com/rockstor"
label = "GitHub"
text = "Request a feature, report a bug, or fork us on GitHub."
header = "true"



# Privacy settings for Hugo Buil-ins
# https://gohugo.io/about/hugo-and-gdpr/
# https://gohugo.io/about/hugo-and-gdpr/#disable-all-services
[privacy]
  [privacy.disqus]
    disable = true
  [privacy.googleAnalytics]
    disable = true
  [privacy.instagram]
    disable = true
  [privacy.twitter]
    disable = true
  [privacy.vimeo]
    disable = true
  [privacy.youtube]
    disable = true
