<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">{{ site.Params.copyright | markdownify }}</div>
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about-us.html">About Us</a></li>
          <li><a href="/legal.html">Terms of Use</a></li>
          <li><a href="/privacy_policy.html">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>